@use "./base.scss";
@use "./variables.scss" as *;

/*
@font-face {
  font-family: "Jetbrains Mono";
  src: url("/static/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/static/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/static/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/static/JetBrainsMono-Italic.woff2") format("woff2");
  font-style: italic;
}
*/

.page .page-header, .page > #quartz-body .right.sidebar {
    margin-top: 0;
}

body:not([data-slug="index"]) {
    .page > #quartz-body .right.sidebar > .spacer:nth-of-type(1) {
        display: none;
    }
}

body[data-slug="index"] {
    .page > #quartz-body > .right.sidebar > * {
        display: none;
    }

    .page > #quartz-body > .center > .page-header > .popover-hint {
        display: none;
    }
}
