$pageWidth: 750px;
$mobileBreakpoint: 500px; // 600px;
$tabletBreakpoint: 900px; // 1000px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + $sidePanelWidth; // 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
